body {

  background: linear-gradient(

    135deg,

    #acffcf 0%,

    #33a173 50%,

    #096830 100%

  );

  margin: 0;

  padding-left: 2em;

  font-family: "Roboto Mono", serif;

  color: #00240b;

  line-height: 1.6;

  text-align: center;

}

h1, h2, h3 {

  font-family: "Georgia", serif;

  letter-spacing: 0.5px;

  color: #003d12;

  text-align: center;

}