/* mobile-first design for Pacific Rhododendron layout */

* {

    box-sizing: border-box;

    font-family: "Times New Roman", Times, serif;

}

body {

    padding: 10;

    margin: 10;

}

header {

    width: 100vw;

    height: 100vh;

}

#rhodiePicture {

    position: absolute;

    width: 100vw;

    height: 100vh;

    background-image: url("Pacific Rhododendron 3 - Gary Monroe-1.jpeg");

    background-size: cover;

    background-position: center center;

}

#rhodieTitle {

    position: absolute;

    width: 90vw;

    height: 90vh;

}

#rhodieTitle h1 {

    position: absolute;

    bottom: 0;

    left: 1em;

    color: pink;

    font-size: 2em;

    width: calc(100vw - 2em);

}

@media screen and (orientation: potrait) {

    #rhodiePicture {

        width: 50vw;

    }

    #rhodieTitle {

        width: 50vw;

        left: 50vw;

        background-color: #330a23;

    }

    #rhodieTitle h1 {

        width: 40vw;

    }
    
}