/* styles for the Tic-Tac-Toe project */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {

    --gameBoardSize: 100vh;

    --gameBoardSpacer: 20px;

}

#gameBoard {

    position: relative;

    width: calc( var(--gameBoardSize) - var(--gameBoardSpacer) );

    height: calc( var(--gameBoardSize) - var(--gameBoardSpacer) );

    background-color: black;

}

.row {

    position: relative;

    float: left;

    width: var(--gameBoardSize);

    height: calc( ( var(--gameBoardSize) / 3 ) - var(--gameBoardSpacer) );

    margin-bottom: var(--gameBoardSpacer);

}

.gameSpace {

    position: relative;

    float: left;

    background-color: white;

    width: calc( ( var(--gameBoardSize) / 3 ) - var(--gameBoardSpacer) );

    height: calc( ( var(--gameBoardSize) / 3 ) - var(--gameBoardSpacer) );

    margin-right: var(--gameBoardSpacer);

    font-family: "Roboto";

    font-size: 10rem;

    overflow: hidden;

    text-align: center;

    text-transform: uppercase;
    
}