/* mobile-first design for responsive recipe layout */

* {

    box-sizing: border-box;

}

body {

    padding: 0;

    margin: 0;

}

.img {

    position: absolute;

    width: 80vw;

    height: 80vh;

}

 #ShrimpTitle h1 {

        position: absolute;

        left: 1.3em;

        bottom: 3em;

        font-size: 2em;

        width: calc(80vw - 2em);

 }
            
    #ShrimpAbstract {

        position: absolute;

        left: 1.2em;

        bottom: 9em;

    }

    #ShrimpInTitle {

        position: absolute;

        left: 8.5em;

        bottom: 3.5em;
        
    }

    #ShrimpIn {

        position: absolute;

        left: 0.5em;

        top: 36em;

    }

    #ShrimpDirTitle {

        position: absolute;

        left: 8.5em;

        top: 62em;

    }

    #ShrimpDir {

    position: absolute;

         left: 0.5em;

        top: 64em;

    }

    #ShrimpCopy footer {

    position: absolute;

        top: 107em;

        left: 7em;

    }

@media screen and (orientation: landscape) {

#ShrimpTitle h1 {

position: absolute;

left: 16.5em;

Top: 0em;

}

#ShrimpAbstract {

position: absolute;

left: 41em;

top: 6.5em;

}

#ShrimpInTitle {

position: absolute;

left: 60em;

top: 8.5em;

}
 

#ShrimpIn {

position: absolute;

left: 60em;

top: 11em;

}

#ShrimpDirTitle {

position: absolute;

left: 1em;

top: 27em;

}

#ShrimpDir {

position: absolute;

left: 1em;

top: 30em;

}

#ShrimpCopy footer {

position: absolute;

left: 65em;

top: 45em;

}
}

/* PUT THE REST OF THE DESKTOP BASELINE LAYOUT HERE */