/* mobile-first design for responsive recipe layout */

* {

    box-sizing: border-box;

}

body {

    padding: 0;

    margin: 0;

}

.img {

    position: absolute;

    width: 100vw;

    height: 100vh;

}

 #ShrimpTitle h1 {

        position: absolute;

        left: 4em;

        bottom: 5em;

        font-size: 3em;

        width: calc(100vw - 2em);

 }
            
    #ShrimpAbstract {

        position: absolute;

        left: 4em;

        bottom: 6em;

    }

    #ShrimpInTitle {

        position: absolute;

        left: 7em;

        bottom: 10em;
        
    }

    #ShrimpIn {

        position: absolute;

        left: 7em;

        top: 2em;

    }

    #ShrimpDirTitle {

        position: absolute;

        left: 7em;

        top: 62em;

    }

    #ShrimpDir {

    position: absolute;

        left: 6em;

        top: 64em;

    }

    #ShrimpCopy footer {

    position: absolute;

        top: 107em;

        left: 15em;

    }

@media screen and (orientation: landscape) {

#ShrimpTitle h1 {

position: absolute;

left: 16.5em;

top: 0em;

}

#ShrimpAbstract {

position: absolute;

left: 40em;

top: 6.5em;

}

#ShrimpInTitle {

position: absolute;

left: 50em;

top: 14em;

}
 

#ShrimpIn {

position: absolute;

left: 35em;

top: 17.5em;

}

#ShrimpDirTitle {

position: absolute;

left: 35em;

top: 27em;

}

#ShrimpDir {

position: absolute;

left: 35em;

top: 30em;

}

#ShrimpCopy footer {

position: absolute;

left: 35em;

top: 55em;

}
}

/* PUT THE REST OF THE DESKTOP BASELINE LAYOUT HERE */