/* styles for Concentration board */

* {

    box-sizing: border-box;

}

:root {

  --boardWidth: 100vw; /* variable for overall board dimensions */

  --boardGap: 1vw;

  --cardSize: calc( ( var(--boardWidth) - var(--boardGap) ) / 2); /* calculated variable for mobile card dimensions */

}

body {

  margin: var(--boardGap) 0 0 0;

  padding: 0;

}

.card {

  position: relative;

  width: var(--cardSize);

  height: var(--cardSize);

  perspective: 500px; /* special CSS property relevant to 3D flips */

}

.cardContent {

  position: absolute; /* positioning within the parent card object */

  width: 100%;

  height: 100%;

  transition: transform 0.5s;

  transform-style: preserve-3d; /* special CSS property relevant to 3D flips */

}

.card:hover .cardContent {

  transform: rotateY(180deg); /* simulate a 3D flip */

}

.cardTop,

.cardBottom {

  position: absolute; /* positioning within the parent cardContent object */

  text-align: center;

  height: 100%;

  width: 100%;

  border: 2px solid darkblue;

  font-size: 42px;

  backface-visibility: hidden; /* special CSS property relevant to 3D flips */

}

.cardTop {

  background-color: darkblue;

  color: #eee;

}

.cardBottom {

  background-color: #eee;

  color: darkblue;

  transform: rotateY(180deg); /* pre-flip so it appears on parent's flip */

}

.pair1 .cardBottom {

  --s: 65px;

  --c1: #b2b2b2;

  --c2: #ffffff;

  --c3: #d9d9d9;
  
  --_g: var(--c3) 0 120deg,#0000 0;

  background:

    conic-gradient(from -60deg at 50% calc(100%/3),var(--_g)),

    conic-gradient(from 120deg at 50% calc(200%/3),var(--_g)),

    conic-gradient(from  60deg at calc(200%/3),var(--c3) 60deg,var(--c2) 0 120deg,#0000 0),

    conic-gradient(from 180deg at calc(100%/3),var(--c1) 60deg,var(--_g)),

    linear-gradient(90deg,var(--c1)   calc(100%/6),var(--c2) 0 50%,

                          var(--c1) 0 calc(500%/6),var(--c2) 0);

  background-size: calc(1.732*var(--s)) var(--s);

}

.pair2 .cardBottom {

  --s: 47px;

  --c1: #1a144a;
  
  --c2: #2eb044;
  
  --_g: conic-gradient(var(--c1) 25%,#0000 0) 0 0;

  background:

    var(--_g)/calc(2*var(--s)) calc(var(--s)/9.5),

    var(--_g)/calc(var(--s)/9.5) calc(2*var(--s)),

    repeating-conic-gradient(#0000 0 25%,var(--c1) 0 50%) 

     var(--s) 0 /calc(2*var(--s)) calc(2*var(--s)),

    radial-gradient(50% 50%,var(--c2) 98%,var(--c1)) 

     0 0/var(--s) var(--s);

}

.pair3 .cardBottom {

  --s: 100px; /* control the size*/

  --c1: #eceddc;

  --c2: #29ab87;
  
  --_g: var(--c1) 90deg,#0000 90.5deg;

  background:

   conic-gradient(from -45deg,var(--_g)),

   conic-gradient(from 135deg,var(--_g)) calc(var(--s)/2) 0,

   var(--c2);

  background-size: var(--s) var(--s)

}

.pair4 .cardBottom {

  --s: 40px;

  --c1: #542437;

  --c2: #c02942;
  
  --_g: 

    #0000 calc(-650%/13) calc(50%/13),var(--c1) 0 calc(100%/13),

    #0000 0 calc(150%/13),var(--c1) 0 calc(200%/13),

    #0000 0 calc(250%/13),var(--c1) 0 calc(300%/13);

  --_g0: repeating-linear-gradient( 45deg,var(--_g));

  --_g1: repeating-linear-gradient(-45deg,var(--_g));

  background:

    var(--_g0),var(--_g0) var(--s) var(--s),

    var(--_g1),var(--_g1) var(--s) var(--s) var(--c2);
    
  background-size: calc(2*var(--s)) calc(2*var(--s));

}

#gameBoard {

    position: relative;

    display: grid;

    grid-template-columns: 1fr 1fr;

    grid-template-rows: 1fr 1fr 1fr 1fr;

    gap: var(--boardGap);

    width: var(--boardWidth);

}

@media screen and (orientation: landscape) {

  :root {

    --boardWidth: 80vw; /* variable for overall board dimensions */

    --cardSize: calc( ( var(--boardWidth) - (3 * var(--boardGap) ) ) / 4); /* calculated variable for landscape card dimensions */

  }

  #gameBoard {

    grid-template-columns: 1fr 1fr 1fr 1fr;

    grid-template-rows: 1fr 1fr;

    margin: 0 auto;

  }

}